.title {
  color: white;
  display: grid;
  grid-template-columns: auto 500px auto;
  grid-template-rows: 100px 500px;
  grid-template-areas:". intro ." ". raccoon .";
}

.raccoon {
  grid-area: raccoon;
  height: 400px;
  margin: auto;
}

.intro {
  grid-area: intro;
  display: grid;
  margin: auto;
}
