.title {
  color: white;
  display: grid;
  grid-template-columns: auto 500px auto;
  grid-template-rows: 100px 500px;
  grid-template-areas:". intro ." ". raccoon .";

  // @media only screen and (max-width: 600px) {
  //   grid-template-columns: 1fr;
  //   grid-template-rows: 0.2fr 0.2fr 0.2fr;
  //   grid-template-areas: "first" "last" "img";
  // }
}

.raccoon {
  grid-area: raccoon;
  height: 400px;
  margin: auto;
}

.intro {
  grid-area: intro;
  display: grid;
  margin: auto;
}
